<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Rocket.Q - Questions and Answers</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
        <link href="/styles/main.css" rel="stylesheet" />
        <link href="/styles/room.css" rel="stylesheet" />
        <link href="/styles/modal.css" rel="stylesheet" />
        <script src="/scripts/main.js" defer type="module"></script>
    </head>
    <body>
        <div class="content" id="room">
            <header>
                <a href="/"><img src="/images/logo.svg" alt="Rocket.Q Logo" /></a>
    
                <div class="buttons">
                    <div id="room-id" class="button outlined" data-id="<%= roomId %>">
                        <%= roomId %>
                        <img src="/images/copy.svg" alt="Copy room code" /> 
                    </div>
    
                    <a href="/create-room" class="button">
                        <img src="/images/users-white.svg" alt="Create Room" />
                        Create Room
                    </a>
                </div>
            </header>

            <main>
                <section id="question-form">
                    <h2>Ask your question</h2>

                    <form action="/question/create/<%= roomId %>" method="POST">
                        <label class="sr-only" for="question">What do you want to ask?</label>
                        <textarea id="question" name="question" placeholder="What do you want to ask?"></textarea>
                        <footer>
                            <div>
                                <img src="/images/lock.svg" alt="Padlock" />
                                This question is anonymous
                            </div>
                            <button>Submit</button>
                        </footer>
                    </form>
                </section>

                <section id="questions">
                    <h2 class="sr-only">Community questions</h2> 
                    <div class="questions">

                        <% if(!isQuestions) { %>
                            <%- include('parts/no-questions') %> 
                        <% } %> 

                        <% questions.forEach(question => { %>
                            <div class="question-wrapper">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="/images/user.svg" alt="Avatar" />
                                    </div>
    
                                    <div class="question">
                                        <p><%= question.content %></p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a class="check" href="#" data-id="<%= question.id %>">
                                        <img src="/images/check.svg" alt="Mark as read" />
                                        Mark as read
                                    </a>
                                    <a class="delete" href="#" data-id="<%= question.id %>">
                                        <img src="/images/trash.svg" alt="Delete" />
                                        Delete
                                    </a>
                                </div>
                            </div>
                        <% }) %>

                        <% questionsRead.forEach(questionRead => { %>
                            <div class="question-wrapper read">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="/images/user.svg" alt="Avatar" />
                                    </div>
    
                                    <div class="question">
                                        <p><%= questionRead.content %></p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a class="delete" href="#" data-id="<%= questionRead.id %>">
                                        <img src="/images/trash.svg" alt="Delete" />
                                        Delete
                                    </a>
                                </div>
                            </div>
                        <% }) %> 

                    </div>
                </section>
            </main>
        </div>

        <div class="modal-wrapper">
            <div class="modal">
                <h2>Title</h2>
                <p>Description</p>

                <form action="#" method="POST">
                    <label class="sr-only" for="password">Enter your admin password</label>
                    <input id="password" type="password" name="password" placeholder="Type your password" />

                    <div class="buttons">
                        <button class="cancel grey" type="button">Cancel</button>
                        <button class="red">Yes, delete</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>